*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    width: 100vh;
    background-color:hsl(212, 45%, 89%) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    margin: 100px 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

img{
    width: 100%;
    
}

h1 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    color: hsl(218, 44%, 22%);
}

p {
    font-size: 15px;
    color: hsl(216, 15%, 48%);
}

/* Estilos específicos para dispositivos móviles (375px) */
@media (max-width: 375px) {
    .card {
        width: 280px;
    }
    
    h1 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }
}

/* Estilos para pantallas grandes (1440px) */
@media (min-width: 1440px) {
    .card {
        width: 350px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }
}

/* Estilos para pantallas de escritorio entre 375px y 1440px */
@media (min-width: 376px) and (max-width: 1439px) {
    .card {
        width: 320px;
    }

    h1 {
        font-size: 18px;
    }

    p {
        font-size: 15px;
    }
}